.total-container {
  min-height: 82vh;
  background: #eeeeee;
  padding-top: 30px;
}

.welcome-header {
  margin-top: 0px;
  margin-bottom: 25px;
}

.opening-hours {
  font-size: 18px;
}

.home-card {
  background: #ffffff;
  border-radius: 4px;
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px
}

.selvbetjening-button {
  color: white;
  margin: 5px 20px 5px 20px;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: 0.5s ease;
  opacity: 0.6;
}

.selvbetjening-button:hover {
  opacity: 1;
  background: #5Ac57B;
  text-decoration: none;
  color: white;
}

.akutnr {
  font-weight: bold;
  font-size: 20px;
}
