

.links-card {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 430px;
}

.gode-links-liste{
  display: inline-block;
  font-size: 20px;
  a {
    color: #2980b9;
    margin: 5px;
  }
  a:hover{
    text-decoration: none;
    color: #21292A;
  }
}
