<h1>Børnevaccinationsprogrammet</h1>

<h3>5 uger</h3>
<p>Børneundersøgelse hos lægen.</p>

<h3>3 måneder</h3>

<p>
  Vaccination ved sygeplejersken Merete Ørnekoll.
  DTPKH 1.+ P (Pneumococ.-lungebetændelse)
  (Difteri-stivkrampe-polio-kighoste-hæmophilus influenza)
</p>

<h3>5 måneder</h3>

Børneundersøgelse hos lægen og vaccination ved sygeplejersken Merete Ørnekoll.

DTPKH 2. + P (Pneumococ.-lungebetændelse)
(Difteri-stivkrampe-polio-kighoste-hæmophilus influenza)

12 måneder

Børneundersøgelse hos lægen og vaccination ved sygeplejersken Merete Ørnekoll.

DTPKH 3. + P (Pneumococ.-lungebetændelse)
(Difteri-stivkrampe-polio-kighoste-hæmophilus influenza)

15 måneder

Vaccination ved sygeplejersken Merete Ørnekoll.
MFR 1 (Mæslinger-fåresyge-røde hunde)

2 år

Børneundersøgelse hos lægen.

3 år

Børneundersøgelse hos lægen.

4 år

Børneundersøgelse hos lægen og vaccination ved sygeplejersken Merete Ørnekoll.

MFR 2 fra 010408 gives i 4 års alderen, se nedenfor.

5 år

Børneundersøgelse hos lægen og vaccination ved sygeplejersken Merete Ørnekoll.

DTKP (Difteri-stivkrampe-kighoste-polio)

12 år

Vaccination ved sygeplejersken Merete Ørnekoll.

MFR 2 Udgår, se nedenfor. (Mæslinger-fåresyge-røde hunde)
I stedet indføret HPV vaccination for piger, se nedenfor

Information

Børnevaccinationer er gratis, betales af sygesikringen

MFR 2 rykkes til 4-års alderen
Den 1. april 2008 rykkes MFR 2-vaccinationen frem til 4-års børneundersøgelsen. Børn, der er ældre, vaccineres fortsat i 12-årsalderen.
Der bliver således en overgangsordning på otte år, hvor MFR 2 kan gives, når barnet er 4 år eller 12 år.
Herefter, dvs. i 2016, ophører 12-års vaccinationen.
MFR 1 gives fortsat, når barnet er 15 måneder.

HPV-vaccination i børnevaccinationsprogrammet
Den 1. januar 2014 indførtes ændrede aldersgrænser i det eksisterende tilbud om gratis HPV (human papilloma virus)-vaccination i det danske børnevaccinationsprogram. Som tidligere tilbydes HPV-vaccinen til alle piger, når de fylder 12 år, men tilbuddet er blevet udvidet således, at vaccinationerne kan gives op til de unge kvinder fylder 18 år (mod hidtil 15 år).

Der er desuden vedtaget et midlertidigt gratis tilbud om HPV-vaccination til kvinder fra fødselsårgangene 1993-1997. Tilbuddet er gældende indtil udgangen af 2015. Vaccinen er den samme, som anvendes til piger i 12-års-alderen i børnevaccinationsprogrammet og yder således beskyttelse mod både livmoderhalskræft og kønsvorter (kondylomer)

Vaccinen kan have relevans for personer op til 25 års alderen, men er man født før 1993 må man selv betale. Prisen ligger på ca. 1400 kr pr. gang ialt 3 gange. Sygeforsikring Danmark giver tilskud.
