<div class="footer text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h4>Adresse</h4>
        <p>Viby Lægehus<br>Viby Ringvej 11, 2. th<br>8260 Viby</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h4>Telefon Nr</h4>
        <p>86 23 24 25</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h4>CVR</h4>
        <p>37041718</p>
      </div>
    </div>
  </div>
</div>
