<div class="footer text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h4>Adresse</h4>
        <p>Viby Lægehus<br>Vibyvej 25<br>2500 Viby</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h4>Telefon Nr</h4>
        <p>86 86 87 87</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h4>CVR nr</h4>
        <p>1,000,000,000</p>
      </div>
    </div>
  </div>
</div>
