---
title: Viby Lægehus
---
<div class="home-banner text-center">
  <h1 class="welcome-header">Velkommen til Viby Lægehus</h1>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="home-card">
          <h2>Åbningstider</h2>
          <ul class="list-unstyled opening-hours">
            <li><p>Mandag:  kl.8 - kl.16</p></li>
            <li><p>Tirsdag: kl.8 - kl.16</p></li>
            <li><p>Onsdag:  kl.8 - kl.16</p></li>
            <li><p>Torsdag: kl.8 - kl.16</p></li>
            <li><p>Fredag:  kl.8 - kl.12</p></li>
            <li><p>Lørdag: Lukket</p></li>
            <li><p>Søndag: Lukket</p></li>
          </ul>
          <p>Klinikken har akuttid hver dag fra <strong>10-10.30</strong></p>

          <h4>Telefon <strong>86 23 24 25</strong></h4>
          <p>Klinikken har telefontid fra 8-12 alle hverdage.</p>

          <h4>Akutsituation</h4>
          <p> Ved akut behov for lægehjælp efter kl. 12,<br> kontakt os på: <span class="akutnr">51 951 112</span></p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="home-card">
          <h2>Selvbetjening</h2>
          <p>Her kan du finde de revelante tjenester<br> til online selvbetjening.</p>
          <a href="https://www.aftalebogen.dk/Tidsbestilling.aspx?KlinikID=1788&DoktorID=27834" target="_blank" class="selvbetjening-button">
            Bestil tid hos læge
          </a>
          <a href="https://www.aftalebogen.dk/Tidsbestilling.aspx?KlinikID=1788&DoktorID=27835" target="_blank" class="selvbetjening-button">
            Bestil tid hos bioanalytiker
          </a>
          <a href="https://www.emailkonsultation.dk" target="_blank" class="selvbetjening-button">
            Forny recept
          </a>
          <a href="https://www.emailkonsultation.dk" target="_blank" class="selvbetjening-button">
            E-mail konsultation
          </a>
          <a href="https://www.emailkonsultation.dk/finddoc.aspx" target="_blank" class="selvbetjening-button">
            Opret bruger
          </a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="home-card">
          <h2>Find os</h2>
          <div class="map-container">
            <a href="https://www.google.dk/maps/place/Viby+Ringvej+11,+8260+Viby/@56.1288507,10.1587104,17z/data=!3m1!4b1!4m5!3m4!1s0x464c401c424e4759:0xecbe24ba9dee5663!8m2!3d56.1288507!4d10.1608991"
            target="_blank">
              <img src="https://maps.googleapis.com/maps/api/staticmap?center=Viby+Ringvej+11,+8260+Viby&markers=%7C56.128900,10.160899&zoom=16&size=300x300&scale=2&key=AIzaSyAe3pAhLSRlGfKr3GcWPS1WCI78Sm9Q1WM">
              <div class="address-container">
                <p>
                  Viby Lægehus<br>Viby Ringvej 11, 2. th<br>8260 Viby
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
