---
title: Viby Lægehus
---

<div class="container text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h2>Åbningstider</h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h2>Selvbetjening</h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h2>Find os</h2>
    </div>
  </div>
</div>
