---
title: Viby Lægehus
---
<div class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h2>Åbningstider</h2>
        <ul class="list-unstyled">
          <li><p>Mandag: kl.8- kl.15</p></li>
          <li><p>Tirsdag: kl.8- kl.15</p></li>
          <li><p>Onsdag: kl.8- kl.15</p></li>
          <li><p>Torsdag: kl.8- kl.15</p></li>
          <li><p>Fredag: kl.8- kl.15</p></li>
          <li><p>Lørdag: kl.8- kl.15</p></li>
          <li><p>Søndag: kl.8- kl.15</p></li>
        </ul>
        <h4>Telefon: 76 78 98 00</h4>
        <p>I <strong>akutsituation</strong></p>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h2>Selvbetjening</h2>
        <p>Bestil ny recept</p>
        <p>Book en tid</p>
        <p>Lav noget mere</p>
        <p>Eller noget helt andet</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h2>Find os</h2>
        <iframe
          width="100%"
          height="100%"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=
            &q=Space+Needle,Seattle+WA" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>
