---
title: Viby Lægehus
---
<div class="text-center">
  <h1 class="welcome-header">Velkommen til Viby Lægehus</h1>
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="home-card">
          <h2>Åbningstider</h2>
          <ul class="list-unstyled opening-hours">
            <li><p>Mandag:  kl.8 - kl.16</p></li>
            <li><p>Tirsdag: kl.8 - kl.16</p></li>
            <li><p>Onsdag:  kl.8 - kl.16</p></li>
            <li><p>Torsdag: kl.8 - kl.16</p></li>
            <li><p>Fredag:  kl.8 - kl.12</p></li>
            <li><p>Lørdag: Lukket</p></li>
            <li><p>Søndag: Lukket</p></li>
          </ul>
          <h4>Telefon <strong>76 78 98 00</strong></h4>
          <p>Klinikken har telefontid fra 8-12 alle hverdage.</p>

          <h4>Akutsituation</h4>
          <p> Ved akut behov for lægehjælp efter kl. 12,<br> kontakt os på: <span class="akutnr">51-951-112</span>.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="home-card">
          <h2>Selvbetjening</h2>
          <p>Her kan du finde de revelante tjenester<br> til online selvbetjening.</p>
          <a href="#" class="selvbetjening-button">Bestil tid hos læge</a>
          <a href="#" class="selvbetjening-button">Bestil tid hos bioanalytiker</a>
          <a href="#" class="selvbetjening-button">Forny recept</a>
          <a href="#" class="selvbetjening-button">Send e-mail</a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="home-card">
          <h2>Find os</h2>
          <iframe
            width="100%"
            height="100%"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=
              &q=Space+Needle,Seattle+WA" allowfullscreen>
          </iframe>
        </div>
      </div>

    </div>
  </div>
</div>
