---
title: Viby Lægehus' Nyttige Links
---

<div class="links-card">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Nyttige Links</h1>

        <ul class="gode-links-liste list-unstyled">
          <li>
            <a href="http://www.sundhed.dk" target="_blank">
              Sundhed.dk
            </a>
          </li>
          <li>
            <a href="http://www.vaccination.dk/" target="_blank">
              Udlandsvaccinationen
            </a>
          </li>
          <li>
            <a href="http://www.diabetes.dk/" target="_blank">
              Diabetesforeningen i Danmark
            </a>
          </li>
          <li>
            <a href="http://www.astma-allergi.dk/" target="_blank">
              Astma-allergi forbundet
            </a>
          </li>
          <li>
            <a href="https://www.hjerteforeningen.dk/" target="_blank">
              Hjerteforeningen
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

