<div class="text-center">
  <h1>Team Viby Lægehus</h1>
  <div class="meet-the-team">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          Mød de ansatte på Viby Lægehus.
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <img src="http://placehold.it/150x150" alt="" class="img-circle">
          <h4>Hans Jacob Teglers Nielsen</h4>
          <h5>Læge</h5>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <img src="http://placehold.it/150x150" alt="" class="img-circle">
          <h4>Mia Dam</h4>
          <h5>Bioanalytiker</h5>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <img src="http://placehold.it/150x150" alt="" class="img-circle">
          <h4>Onkel Joakim</h4>
          <h5>Sygeplejerske</h5>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <img src="http://placehold.it/150x150" alt="" class="img-circle">
          <h4>Bruce Wayne</h4>
          <h5>Lægesekretær</h5>
        </div>
      </div>
    </div>
  </div>
</div>
