<div class="container">
  <div class="row">
    <div class="col-sm-3 hidden-xs">
      <div class="nav-oplysninger">
        <h3>Navigation</h3>
        <ul class="list-unstyled">
          <li>En ting</li>
          <li>En anden ting</li>
          <li>En anden ting</li>
          <li>En anden ting</li>
          <li>En anden ting</li>
          <li>En anden ting</li>
        </ul>
      </div>
    </div>

    <div class="col-sm-9 col-xs-12">
      <div class="oplysninger-article">
        <h3>Børn er grimme</h3>
        <p>og klamme</p>
      </div>
    </div>

  </div>
</div>
