<div class="info-container">

  <h1>Praktisk Information</h1>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div id="ferie">
          <h2>Ferie</h2>
          <p>
            Hans Jacob Teglers Nielsen holder barsel fra XX til XX og ferie fra XX til XX.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
