<div class="info-container">
  <div class="home-card">
    <h1>Praktisk Information</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div id="ferie" class="praktisk-chapter">
          <h2>Ferie</h2>
          <p>
            Hans Jacob Teglers Nielsen holder barsel fra XX til XX og ferie fra XX til XX. En vikar vil overtage lægepligterne i de pågældende perioder.
          </p>
        </div>
      </div>
      <div class="col-xs-12">
        <div id="oplysninger" class="praktisk-chapter">
          <h2>Oplysninger</h2>
          <p>
            Hans Jacob Teglers Nielsen holder barsel fra XX til XX og ferie fra XX til XX.
          </p>
        </div>
      </div>
      <div class="col-xs-12">
        <div id="links" class="praktisk-chapter">
          <h2>Ferie</h2>
          <p>
            Hans Jacob Teglers Nielsen holder barsel fra XX til XX og ferie fra XX til XX.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
