<div class="info-container">
  <div class="home-card">
    <h1>Praktisk Information</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div id="ferie" class="praktisk-chapter">
          <a href="ferie.html"><h3>Ferie</h3></a>
        </div>
      </div>
      <div class="col-xs-12">
        <div id="oplysninger" class="praktisk-chapter">
          <a href="oplysninger.html"><h3>Oplysninger</h3></a>
        </div>
      </div>
      <div class="col-xs-12">
        <div id="links" class="praktisk-chapter">
          <a href="links.html"><h3>Ferie</h3></a>
        </div>
      </div>
    </div>
  </div>

</div>
